{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="py-4 flex flex-col items-start space-y-4 border-b border-double border-gray-400 dark:border-gray-700">
  <h1 class="text-3xl font-extrabold leading-normal tracking-normal text-gray-900 dark:text-gray-100 sm:text-4xl md:text-4xl">
    {{ heading }}
  </h1>
  <div class="w-full flex flex-wrap gap-4 items-center place-content-between">
    <dl>
      <div class="flex flex-row items-center gap-2 text-sm font-semibold text-gray-700 dark:text-gray-300">
        <dt class="sr-only">Published on</dt>
        <dd class=""><time datetime="{{ date | date: "%Y-%m-%d" }}">{{ date | date: "%B %-d, %Y" }}</time></dd>
      </div>
    </dl>
  </div>
</div>
