<div id="related_posts">
	<h2>You Might Also Like</h2>
	<ul>
		{% for post in site.related_posts limit:3 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="arrowNav">
	<div class="arrowLeft">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo;</a>
		{% endif %}
	</div>
	<div class="arrowRight">
		{% if page.next.url %}
			<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">&raquo;</a>
		{% endif %}
	</div>
</div>
