body {}

:root {
	--color-border: #eceeef;
	--color-text: #373a3c;
	--color-primary: green;

	--hue-primary:                  120;
	--hue-secondary:                210;

	--background:                   hsla(var(--hue-primary), 5%, 96%, 1);
	--text-color:                   hsla(var(--hue-primary), 10%, 10%, 1);
	--text-color-sub:               hsla(var(--hue-primary), 5%, 40%, 1);
	--element-interactive:          hsla(var(--hue-secondary), 90%, 50%, 1);
	--element-interactive-sub:      hsla(var(--hue-secondary), 90%, 50%, .5);
}

.prose a {
	text-decoration: none;

	display: inline-block;
	color: var(--color-text) !important;
	position: relative;
}

.prose a::before {
	content: '';
	display: block;
	height: 0.4em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	background-color: var(--color-border);
}

.prose a::after {
	content: '';
	display: block;
	height: 0.4em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	background-color: var(--element-interactive-sub);
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.prose a:hover::after {
	transform: scaleX(1);
}
