<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Martin Lowinski" />
		<meta name="description" content="Martin Lowinski’s blog" />
    <meta name="keywords" content="Martin Lowinski, web-development, freelancing, halfthetruth.de, goldtopf.org, martinlowinski.de" />
    <meta name="viewport" content="width=970">

		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	</head>

<body>
<div align="center">
<div id="wrapper">
<div id="hd">
	<div id="sitemeta">
		<ul>
			<li class="rss"><a href="/feed/">Subscribe to RSS Feed</a></li>
			<li>
				<div id="search">
					<form method="GET" id="search_form" action="http://www.google.com/search">
						<input type="hidden" name="sitesearch" value="halfthetruth.de" />
						<input type="text" id="query" name="q" style="width: 150px;">
					</form>
				</div>
			</li>
  	</ul>
	</div>
	<div id="titlewrapper">
		<div id="blogtitle">
			<h1><a href="/">halfthetruth.de</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><div id="blogdescription">Just 42 / 2</div></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</div>
	</div>
	<div class="clear">&nbsp;</div>

	<div class="clear">&nbsp;</div>
</div>


<div id="sidebar" class="yui-b">
	<ul class="sidebar">
		<li id="text"><h2>Hello.</h2>
		<p>My name is <a href="http://goldtopf.org">Martin Lowinski</a> and I'm a student & software developer from Freiburg, Germany. I am currently doing my Masters at the <a href="http://in.tum.de">TU Munich</a> and am about to start my Master Thesis about Multicore-Scheduling with Microkernels. Besides that I'm a freelancer developing web-applications.</p>
		</li>

		<!--<li id="recentposts"><h2>Recent Articles</h2>
			<ul>
			</ul>
		</li>

		<li id="categories"><h2>Categories</h2>
			<ul>
			</ul>
		</li>

		<li id="archives"><h2>Archives</h2>
			<ul>
			</ul>
		</li>
		
		<li id="tagcloud"><h2>Tag Cloud</h2>
			<ul>
			</ul>
		</li>

		<li id="search"><h2>Search</h2>
		</li>-->
	</ul>
</div>


<div id="bd" class="single">
<div id="yui-main"><div class="yui-b"></div>

		{{ content }}

</div>
</div>


</div>
<div id="ft"></div>
</div>
</div>
<div class="clear">&nbsp;</div>
<div id="footnote" align="center">
	&copy; 2008-2010 by Martin Lowinski - <a href="/impressum.html">Impressum</a> - Powered by <a href="http://wordpress.org/">Wordpress</a>, Design by <a href="http://www.bingowebdesign.info">Bingo</a> (slightly modified).
</div>
</div>

		<!-- Piwik --> 
		<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.halfthetruth.de/piwik/" : "http://stats.halfthetruth.de/piwik/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">
		try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
		} catch( err ) {}
		</script><noscript><p><img src="http://stats.halfthetruth.de/piwik/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Tracking Code -->

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="/js/lightbox.js"></script>
		<script type="text/javascript">
		/* Increase size of searchbox when clicked */
		$(document).ready(function() {
			$('html').click(function() {
				$('#query').animate({width: "150px"});
		 	});
			$('#query').click(function() {
				$(this).animate({width: "300px"});
				event.stopPropagation();
			});
		});
		</script>

	</body>
</html>
