<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Martin Lowinski" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/pygments/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
	 <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">halfthetruth.de</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Martin Lowinski<br />
				martin at goldtopf dot org
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/martinlowinski">github.com/martinlowinski</a><br />
        <a href="http://twitter.com/c0b0lt/">twitter.com/c0b0lt</a><br />
        <a href="http://flickr.com/photos/c0b0lt/">flickr.com/photos/c0b0lt</a>
      </p>
    </div>
    <div class="rss">
      <a href="/feed/">
        Subscribe to RSS Feed
      </a>
    </div>
  </div>
</div>

</body>
</html>
